<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="VANNO - Premium directory consumer reviews and listings template by Ansonika">
    <meta name="author" content="Ansonika">
    <title>VANNO | Premium directory consumer reviews and listings template by Ansonika. - SHARED ON BOOTSTRAPMB.COM</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="../static/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="../static/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="../static/img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
	<link href="../static/css/vendors.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="../static/css/custom.css" rel="stylesheet">

</head>

<body>
	
	<div id="page">
	<main class="margin_main_container">
		<div class="container margin_60_35">
			<div class="row">
				<div class="col-lg-8">
					<div class="box_general write_review">
                        <h1>Write a review of {{res_inf.name}}</h1>


                        <form action="/writereview/?res_id={{res_inf.id}}&subid={{subid}}" method="post">
                            {% csrf_token %}
                        


						<div class="rating_submit">
							<div class="form-group">
							<label class="d-block">Overall rating</label>
							<span class="rating">
								<input type="radio" class="rating-input" id="5_star" name="rating-input" value="5 Stars"><label for="5_star" class="rating-star"></label>
								<input type="radio" class="rating-input" id="4_star" name="rating-input" value="4 Stars"><label for="4_star" class="rating-star"></label>
								<input type="radio" class="rating-input" id="3_star" name="rating-input" value="3 Stars"><label for="3_star" class="rating-star"></label>
								<input type="radio" class="rating-input" id="2_star" name="rating-input" value="2 Stars"><label for="2_star" class="rating-star"></label>
								<input type="radio" class="rating-input" id="1_star" name="rating-input" value="1 Star"><label for="1_star" class="rating-star"></label>
							</span>
							</div>
						</div>
						<!-- /rating_submit -->
						<div class="form-group">
							<label>Title of your review</label>
							<input class="form-control" type="text" placeholder="If you could say it in one sentence, what would you say?" name ='scontent'>
						</div>
						<div class="form-group">
							<label>Your review</label>
							<input class="form-control" type="text" style="height: 180px;" placeholder="Write your review to help others " name ='content'>
						</div>
						<div class="form-group">
						</div>
                        <input type="submit" class="btn_1">
                        
                        </form>
					</div>
				</div>
                <!-- /col -->
                
                <div class="col-lg-4">
                        <div class="box_general company_info">
                            <h3>{{res_inf.name}}</h3>
                            <p>The light aroma arrived before the bowl, and while the soup looked slightly clear, it was surprisingly flavourful underlying with taste of herbs and spices that didn’t overpower the rest.
    Compared to other beef noodle soups that are more robust (especially if you order a ”hong shao”), this had a cleaner, pleasing taste that was still complex and appetising.
                                    The stock is said to be cooked over 20 hours, using beef bones and a secret blend of herbs.
                                    As for the side dishes, the must-order is recommended to be the “Hua Gan” (NT$40) – dried tofu cooked in beef stock. Lin Dong Fang Beef Noodles 林東芳牛肉麵 (Zhongshan District, Taipei)g eos an. Mucius doctus constituto pri at, ne cetero postulant pro. At vix utinam corpora, ea oblique moderatius usu. Vix id viris consul honestatis, an constituto deterruisset consectetuer pro.</p>
                            <p><strong>Address</strong><br>115684 Baker st. 567<br>Los Angeles - SG</p>
                            <p><strong>Website</strong><br><a href="#0">www.good.com</a></p>
                            <p><strong>Email</strong><br><a href="#0">info@good.com</a></p>
                            <p><strong>Telephone</strong><br>+65 423 565624</p>
                        </div>
                    </div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</main>
	<!--/main-->
	</div>
	<!-- page -->
	
	
	<div id="toTop"></div><!-- Back to top button -->
	
	<!-- COMMON SCRIPTS -->
    <script src="../static/js/common_scripts.js"></script>
	<script src="../static/js/functions.js"></script>
	<script src="../static/assets/validate.js"></script>

</body>
</html>